extends layout
mixin user(username)
    p logged in as #{username}

block content
    h1(class="navbartext") Home
    +user(username)
    p Här är posts
        


block scripts
    script(src="frontpage.js")