extends layout
block content
       h1 Login
       br
       input(id="username", type="text", placeholder="username")
       br
       br
       input(id="password", type="password", placeholder="password")
       br
       br
       button(id="login" onclick="login()") login/sign up

