extends layout
mixin user(username)
    p posting as #{username}

block content
    h1(class="navbartext") post
    +user(username)

    input(type="text", placeholder="title" id="title")
    br
    br
    textarea(placeholder="post text here" id="text")
    br
    button(onclick="post()") post